body, html{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    background-color: #333333;
    color: #dddddd;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}